#loading, #video {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

#title {
  font-family: "Nanum Myeongjo", serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 35px;
}